body {
    padding-top: 56px;
    padding-bottom: 56px; 
}

.navbar-brand{
    padding: 10px 15px !important;
    font-size: 100;

}

.banner {
    background-color: #007bff;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.card {
    margin: 20px;
}
.card .card-body .card-title {
    color: rgb(0, 0, 0); 
}
.card .card-body .card-title1 {
    color: rgb(255, 0, 0); 
}
.card .card-body .card-title2 {
    color: rgb(0, 255, 0); 
}

.card .card-body .card-text {
    color: black; 
}

.child-section, .adult-section {
            display: none;
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 10px;

}
